* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #272b31;
}

::-webkit-scrollbar-thumb {
    background-color: #444C56;
    border-radius: 4px;
}

body {
    background-color: #2b343f;
    height: 100vh;
    overflow-x: hidden;
}

body > div {
    padding-top: 60px;
    padding-bottom: 10px;
}

@font-face {
    font-family: Kodchasan;
    src: local("Kodchasan"),
         url("../fonts/Kodchasan-Regular.ttf") format("truetype");
}

h1, h2, h3, h4, h5, h6, p, a {
    color: #fff;
    text-decoration: none;
    font-family: Kodchasan;
}

.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0d1014;
    width: calc(100vw - 20px);
    padding: 10px;
    z-index: 10;
    gap: 10px;
}

.navbar > img {
    height: 35px;
}

.navbar > h1 {
    display: flex;
    width: 50vw;
    align-items: center;
}

.navbar > div {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding-right: 10px;
}

.btn {
    display: flex;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    background-color: #165750;
    transition: all 0.3s;
}

.btn:hover {
    background-color: #1d887d;
}

.btn:active {
    background-color: #25dbc9;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: #171C22;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    gap: 20px;
}

.directory {
    flex-direction: column;
}

.directory > h1 {
    border-bottom: #2b343f 4px solid;
    border-bottom-right-radius: 10px;
    padding-right: 10px;
}

.directory > div {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;
    border-left: #2b343f 4px solid;
    border-bottom-left-radius: 10px;
}

.directory > div > * {
    padding-left: 20px;
    border-bottom: #2b343f 1px solid;
    margin-bottom: 10px;
    transition: all 0.2s;
    overflow: hidden;
}

.directory > div > *:hover {
    color: #1d887d;
    font-weight: 900;
}

.directory > div > *:active {
    color: #25dbc9;
}

.videotitle {
    padding: 20px;
}

video {
    background-color: #000;
    width: 100%;
    padding: auto 20px;
    max-height: 80vh;
}

@media screen and (max-width: 768px) {
    .navbar > h1 {
        display: none;
    }

    .navbar > div {
        width: 100%;
        justify-content: center;
    }

    .directory > div {
        padding-top: 15px;
        padding-bottom: 15px;
        border-left: #2b343f 4px solid;
        border-bottom-left-radius: 10px;
    }    
}

@media screen and (max-width: 420px) {
    /* This should be the "database" button */
    /* Who even uses that? */
    .navbar > div :nth-child(3) {
        display: none;
    }
}