.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.content > a {
    width: 19%;
}

.mediawidget {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mediawidget > img {
    border-radius: 12px;
    width: 100%;
}

.mediawidget > h1 {
    font-size: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mediawidget > .mediastats {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.mediawidget > .mediastats > * {
    color: #A9A9A9;
}

.mediawidget > .mediastats :last-child {
    font-weight: 900;
    color: #cccccc;
}

@media screen and (max-width: 1660px) { .content > a { width: 18.5%; } }
@media screen and (max-width: 1150px) { .content > a { width: 23.5%; } }
@media screen and (max-width: 1040px) { .content > a { width: 31.5%; } }

@media screen and (max-width: 910px) {
    .content {
        margin: 0;
        padding: 0;
    }

    .content > a {
        display: block;
        margin-bottom: 20px;
    }

    .mediawidget {
        width: 100vw;
    }

    .mediawidget > * {
        padding-left: 10px;
    }

    .mediawidget > img {
        display: block;
        object-fit: contain;
        border-radius: 0;
        padding: 0;
    }

    .content {
        flex-direction: column;
    }
}