.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.mediawidget {
    display: flex;
    flex-direction: column;
    width: 420px; /* nice */
    gap: 10px;
}

.mediawidget > img {
    border-radius: 12px;
    width: 100%;
}

.mediawidget > h1 {
    font-size: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mediawidget > .mediastats {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.mediawidget > .mediastats > * {
    color: #A9A9A9;
}

.mediawidget > .mediastats :last-child {
    font-weight: 900;
    color: #cccccc;
}

@media screen and (max-width: 910px) {
    .content > a {
        display: block;
    }

    .mediawidget {
        width: calc(100vw - 50px);
    }

    .mediawidget > img {
        display: block;
        object-fit: contain;
    }

    .content {
        flex-direction: column;
    }
}