{% extends "layout.html" %}

{% block body %}
    <div class="container">        
        <h1 class="main-heading">Movie List</h1>
        <div class="movie-container">
            {% for movie, episodes in movies.items %}
                <div class="movie">
                    <h2 class="secondary-heading">{{ movie }}</h2>
                    <div class="episode-list">
                        {% for episode in episodes %}
                            <a class="episode-link" href="/watch/{{ movie }}/{{ episode }}">{{ episode }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}