{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}">
        <link rel="stylesheet" href="{% static 'css/global.css' %}">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar">
            <img src="{% static 'img/favicon.png' %}">
            <h1>Mr Robot Site</h1>
            <div>
                <a class="btn" href="/">Source</a>
                <a class="btn" href="/database">Database</a>
                <a class="btn" href="/server">Server</a>
                <a class="btn" href="/about">About</a>
            </div>
        </nav>
        <div>
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>