{% extends "layout.html" %}

{% block head %}
    {% if title %}
        <title>MrRobotSite | {{ title }}</title>
    {% else %}
        <title>MrRobotSite</title>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="content">
        {% for dir, items in directories.items %}
            <div class="directory">
                <h1>{{ dir }}</h1>
                <div>
                    {% for item in items %}
                        <a href="/open/{{ dir }}/{{ item }}">{{ item }}</a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}